@charset "UTF-8";
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.ttf") format("ttf"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.ttf") format("ttf"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Lato;
  font-size: 16px;
}

.ibg {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.ibg > img {
  display: none;
}

button, .button {
  cursor: pointer;
  background: #d91233;
  border: 2px solid #d91233;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  min-width: 240px;
  padding: 17px 30px;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

button:hover, .button:hover {
  background: #ff162c;
  border-color: #ff162c;
}

.n-bg {
  background: transparent;
  display: inline-block;
}

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 150px;
  color: #fff;
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(transparent));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}

.header__img {
  background-position: 0% 50%;
  background-size: contain;
  min-height: 30px;
}

@media (max-width: 576px) {
  .header__img {
    background-position: 50% 50%;
  }
}

.header__right {
  text-align: right;
}

@media (max-width: 576px) {
  .header__right {
    margin-top: 15px;
    text-align: center;
  }
}

.header__right__num {
  font-size: 1.75em;
  font-weight: bold;
  text-transform: uppercase;
}

.header__right__link {
  cursor: pointer;
  color: #d91233;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__right__link:hover {
  text-decoration: none;
  color: #ff162c;
}

.main-section {
  padding-top: 180px;
  padding-bottom: 87px;
  color: #fff;
  position: relative;
  text-align: center;
}

.main-section .container {
  position: relative;
  z-index: 2;
}

.main-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #212121;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.main-section__title {
  text-transform: uppercase;
  font-size: 3em;
}

.main-section .section__text-cart {
  padding: 0px 30px;
}

@media (max-width: 576px) {
  .main-section .section__text-cart {
    padding: 0;
  }
}

.main-section .section__title {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .main-section .col-lg-3:nth-child(n + 2) {
    margin-top: 60px;
  }
}

.main-section__col {
  padding: 50px 15px 0;
}

.main-section__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-section__wrapper img {
  max-width: 100%;
}

.main-section__margin {
  margin-top: 50px;
}

.window {
  position: fixed;
  top: 120%;
  left: 50%;
  z-index: 1001;
  background: #fff;
  width: 100%;
  max-width: 320px;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  padding: 37px 0;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  color: #151515;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 576px) {
  .window {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.window.active {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.window.ready {
  opacity: 0;
}

.window__tilte {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.window__text {
  font-size: 12px;
}

.window-back {
  position: fixed;
  z-index: 1000;
  top: 120%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #212121;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.window-back.active {
  top: 0%;
}

.window__return {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: -32px;
  cursor: pointer;
}

.window__return:before, .window__return:after {
  content: '';
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #d91233;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.window__return:before {
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
}

.window__return:after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg);
}

.window__return:hover:before, .window__return:hover:after {
  background: #ff162c;
}

@media (max-width: 576px) {
  .window__return {
    top: 10px;
    right: 12px;
  }
}

.window__form {
  margin-top: 18px;
}

.window__form.not:after {
  content: 'Пожалуйста, заполните все поля';
  color: #ff0000;
  display: block;
  margin-top: 15px;
  font-size: 15px;
}

.window__form__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d0d0d0;
  padding-right: 12px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.window__form__row + .window__form__row {
  margin-top: 10px;
}

.window__form__row.not {
  border-color: #ff0000;
}

.window__form__row__input {
  padding: 11px 0px 11px 15px;
  height: 100%;
  border: none;
  width: 90%;
  font-size: 12px;
}

.window__form__row img {
  width: 7%;
}

.window__form button {
  min-width: auto;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
  padding: 15px 20px;
}

.window-thanks {
  top: -150%;
}

.window-thanks.ready {
  top: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.section {
  text-align: center;
  padding: 80px 0;
}

.section__title {
  font-size: 1.875em;
  margin-bottom: 60px;
}

.section__text-cart {
  font-size: 14px;
  margin-top: 18px;
}

.section__title-cart {
  font-weight: bold;
}

.section-2 .row img {
  height: 50px;
  width: auto;
  margin-bottom: 30px;
}

.section-2 .row .col-md-4:nth-child(n + 4) {
  margin-top: 81px;
}

@media (max-width: 768px) {
  .section-2 .row .col-md-4:nth-child(n + 3) {
    margin-top: 81px;
  }
}

@media (max-width: 576px) {
  .section-2 .row .col-md-4:nth-child(n + 2) {
    margin-top: 81px;
  }
}

.section-3 {
  background: #ebebeb;
}

.section-3 .section__title {
  margin-bottom: 21px;
}

.section-3 .section__text {
  margin-bottom: 60px;
}

.section-3 .row {
  border: 5px solid #ffffff;
  padding: 60px 10px 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-3__row {
  width: 33%;
  text-align: left;
  font-weight: bold;
  font-size: 13px;
  padding: 0 25px;
  padding-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 768px) {
  .section-3__row {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .section-3__row {
    width: 100%;
  }
}

.section-3__row input, .section-3__row textarea {
  margin-top: 8px;
  border: 1px solid #fff;
  padding: 0 17px;
  width: 100%;
  height: 40px;
}

.section-3__row textarea {
  padding: 17px;
  resize: none;
  height: 100%;
}

.section-3__row button {
  width: 100%;
  min-width: auto;
}

.section-3__row .input.not {
  border-color: #ff0000;
}

.section-4 {
  padding-bottom: 0;
}

.section-4 .row {
  margin-bottom: -20px;
}

.section-4__item {
  padding-bottom: 20px;
}

.section-4__img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
  /* IE 6-9 */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.section-4__img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
  /* IE 6-9 */
}

.section-5__youtube {
  padding: 20px;
  width: 100%;
  border: 5.0px solid #f2f2f2;
}

.section-5__youtube__wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.section-5__youtube .youtube, .section-5__youtube iframe {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section-6 {
  background: #ebebeb;
}

.section-6__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 992px) {
  .section-6__item + .section-6__item {
    margin-top: 50px;
  }
}

.section-6__img {
  border-radius: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 20px;
  height: 90px;
  width: 90px;
}

.section-6__right {
  text-align: left;
  font-weight: bold;
}

.section-6__right__name {
  font-size: 12px;
  color: #757575;
}

.section-6__right__title {
  color: #d91233;
  margin-top: 8px;
  margin-bottom: 12px;
}

.section-6__right__text {
  font-size: 13px;
  color: #2b2b2b;
}

.youtube {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.youtube .play {
  background: url("../img/youtube-play-btn.png") no-repeat;
  /*ВАЖНО: здесь укажите адрес до изображения*/
  background-position: 0 -50px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  height: 50px;
  width: 69px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.youtube:hover .play {
  background-position: 0 0;
}

.section-7 {
  background: #dbdbdb;
}

.section-7 .section__title {
  margin-bottom: 21px;
}

.section-7 .section__text {
  margin-bottom: 60px;
}

.section-7 .row {
  border: 5px solid #ffffff;
  padding: 60px 10px 40px;
}

.section-7__row {
  text-align: left;
  padding: 0 25px;
}

.section-7__row .input {
  width: 100%;
  margin-top: 8px;
  border: 1px solid #fff;
  padding: 0 17px;
  height: 45px;
}

.section-7__row .input.not {
  border-color: #ff0000;
}

.section-7__button {
  margin-top: 40px;
}

@media (max-width: 576px) {
  .section-7__button {
    min-width: auto;
    width: 100%;
  }
}

.section-8 {
  padding: 50px 0 210px;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.section-8__item {
  position: relative;
  z-index: 2;
  background: #d91233;
  font-size: 20px;
  padding: 60px 100px;
  width: 100%;
  max-width: 490px;
}

@media (max-width: 576px) {
  .section-8__item {
    padding: 60px 50px;
  }
}

.section-8__item div + div {
  margin-bottom: 30px;
}

.section-8__item div:last-child {
  margin-bottom: 0;
}

.section-8__item__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.section-8__item__num {
  font-weight: bold;
}

.section-8__item__email a {
  text-decoration: underline;
}

.section-8__item__email a:hover {
  text-decoration: none;
}

.footer {
  width: 100%;
  padding: 20px 0;
}

.footer__img {
  background-position: 0% 50%;
  background-size: contain;
  min-height: 30px;
}

@media (max-width: 576px) {
  .footer__img {
    background-position: 50% 50%;
  }
}

.footer__right {
  text-align: right;
}

@media (max-width: 576px) {
  .footer__right {
    margin-top: 15px;
    text-align: center;
  }
}

.footer__right__num {
  font-size: 1.75em;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__right__link {
  cursor: pointer;
  color: #d91233;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__right__link:hover {
  text-decoration: none;
  color: #ff162c;
}
